fastapi
langchain
langchain_core
langchain-groq
python-dotenv
streamlit
uvicorn
langgraph
langchain-openai
langchain-huggingface
sentence-transformers
structlog
pytest
PyMuPDF
langchain-text-splitters
langchain-community